/* search container */
	
	/* browser buttons */
	
		.browser-button{
			-fx-padding: 5px;
		    -fx-border-insets: 5px;
		    -fx-background-insets: 5px;
		    -fx-border-color: transparent;
		    -fx-border-width: 0;
		    -fx-background-radius: 2;
		    -fx-background-color: transparent;
		    -fx-background-color: linear-gradient(to bottom right, #51cce8, #722ecc);
		}
		
		.browser-button:hover{
			-fx-background-color: linear-gradient(to bottom right, #3443b5, #51cce8);
		}
	
	/* browser buttons end */
	
	/* address field */
	
		#address-field{
		    -fx-padding: 10px;
		    -fx-border-insets: 5px;
		    -fx-background-insets: 5px;
		    -fx-background-radius: 6;
		    -fx-effect: dropshadow( three-pass-box ,  #8c49e5, 0,0,2,2 );
		}
		
		#address-field:hover{
			-fx-border-insets: 4px;
		    -fx-background-insets: 4px;
		    -fx-background-radius: 5;
		    -fx-effect: dropshadow( three-pass-box ,  #995ef2, 0,0,2,2 );
		}
	
	/* address field end */
	
	/* search */
	
		#search-container{
			-fx-border-color: linear-gradient(to bottom right, #2a0549, #440a75) #678cfc #678cfc #678cfc;
			-fx-border-width: 3px 0px 0px 0px;
		    -fx-background-color: #602077;
		}
		
		/* progress */
		
			#status-field{
				-fx-pref-width: 180px;
				-fx-text-fill: #00ff00;
				-fx-font-size: 14pt;
				-fx-background-insets: 0 0 0 0, 0, 0, 0;
			    -fx-background-radius: 0 0 0 0, 0, 0, 0;
			    -fx-border-width: 0 0 0 0, 0, 0, 0;
				-fx-background-color: transparent;
			}
		
		/* progress end */
	
	/* search end */

/* search container end */

/* util buttons */

	.util-buttons{
		-fx-border-color: transparent;
	    -fx-border-width: 0;
	    -fx-padding: 3px;
	    -fx-border-insets: 3px 10px 3px 10px;
	    -fx-background-insets: 3px;
	    -fx-background-radius: 2;
	    -fx-background-color: transparent;
	}
	
	.util-buttons-tray-max:hover{
		-fx-background-color: #2bb9f2;
	}
	
	.util-buttons-close:hover{
		-fx-background-color: #e00404;
	}

/* util buttons end */

/* browser container */

	#browser-container > .split-pane-divider{
		-fx-background-color: #dae5e5;
		-fx-border-color: transparent transparent transparent #0b0b5b;
	}

/* browser container end */

/* browser tabs */

	#browser-tabs > .tab-header-area > .tab-header-background {
	    -fx-background-color: linear-gradient(to bottom right, #602077, #1960a8);
	}
	
	#browser-tabs > .tab-header-area > .tab-header-background:pressed {
	    -fx-background-color: linear-gradient(to bottom right, #e98af2, #89e4f1);
	}
	
	#browser-tabs > .tab-header-area > .headers-region > .tab {
	    -fx-background-color: linear-gradient(to bottom right, #1fc2f4, #9c5dfc);
	    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
	}
	
	#browser-tabs > .tab-header-area > .headers-region > .tab:selected {
	    -fx-background-color: linear-gradient(to bottom right, #9c5dfc, #1fc2f4);
	    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
	}
	
	#browser-tabs > .tab-header-area > .headers-region > .tab:hover {
	    -fx-background-color: linear-gradient(to bottom right, #30c9e8, #ee3dff);
	    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
	}
	
	#browser-tabs{
		-fx-tab-max-width:100px;
	}

/* browser tabs end */

/* console */

	#console-tabs > .tab-header-area > .tab-header-background {
	    -fx-background-color: linear-gradient(to bottom right, #602077, #1960a8);
	}
	
	#console-tabs > .tab-header-area > .headers-region > .tab {
	    -fx-background-color: linear-gradient(to bottom right, #1fc2f4, #9c5dfc);
	    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
	}
	
	#console-tabs > .tab-header-area > .headers-region > .tab:selected {
	    -fx-background-color: linear-gradient(to bottom right, #9c5dfc, #1fc2f4);
	    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
	}
	
	#console-tabs > .tab-header-area > .headers-region > .tab:hover {
	    -fx-background-color: linear-gradient(to bottom right, #30c9e8, #ee3dff);
	    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
	}
	
		/* console subtabs */
		
			#console-subtabs > .tab-header-area > .tab-header-background {
			    -fx-background-color: linear-gradient(to bottom right, #602077, #1960a8);
			    -fx-border-color: linear-gradient(to bottom right, #2a0549, #440a75) transparent transparent transparent;
			}
			
			#console-subtabs > .tab-header-area > .headers-region > .tab {
			    -fx-background-color: linear-gradient(to bottom right, #1fc2f4, #9c5dfc);
			    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
			}
			
			#console-subtabs > .tab-header-area > .headers-region > .tab:selected {
			    -fx-background-color: linear-gradient(to bottom right, #9c5dfc, #1fc2f4);
			    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
			}
			
			#console-subtabs > .tab-header-area > .headers-region > .tab:hover {
			    -fx-background-color: linear-gradient(to bottom right, #30c9e8, #ee3dff);
			    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
			}
			
				/* freestyle */
					
					#freestyle-container > .split-pane-divider{
						-fx-background-color: #dae5e5;
						-fx-border-color: #0b0b5b transparent #0b0b5b transparent;
					}
					
					#freestyle-command{
						-fx-prompt-text-fill: #00ff00;
						-fx-control-inner-background:#000000;
						-fx-highlight-fill: #00ff00;
						-fx-highlight-text-fill: #000000;
						-fx-text-fill: #00ff00;
					}
					
					#freestyle-output{
						-fx-prompt-text-fill: #00ff00;
						-fx-control-inner-background:#000000;
						-fx-highlight-fill: #00ff00;
						-fx-highlight-text-fill: #000000;
						-fx-text-fill: #00ff00;
					}
				
				/* freestyle end */
		
		/* console subtabs */

	/* system */
	
		/* system subtabs */
		
			#system-subtabs > .tab-header-area > .tab-header-background {
			    -fx-background-color: linear-gradient(to bottom right, #602077, #1960a8);
			    -fx-border-color: linear-gradient(to bottom right, #2a0549, #440a75) transparent transparent transparent;
			}
			
			#system-subtabs > .tab-header-area > .headers-region > .tab {
			    -fx-background-color: linear-gradient(to bottom right, #1fc2f4, #9c5dfc);
			    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
			}
			
			#system-subtabs > .tab-header-area > .headers-region > .tab:selected {
			    -fx-background-color: linear-gradient(to bottom right, #9c5dfc, #1fc2f4);
			    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
			}
			
			#system-subtabs > .tab-header-area > .headers-region > .tab:hover {
			    -fx-background-color: linear-gradient(to bottom right, #30c9e8, #ee3dff);
			    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
			}
		
			/* info */
			
				#info-area{
					-fx-prompt-text-fill: #00ff00;
					-fx-control-inner-background:#000000;
					-fx-highlight-fill: #00ff00;
					-fx-highlight-text-fill: #000000;
					-fx-text-fill: #00ff00;
				}
			
				#system-area{
					-fx-prompt-text-fill: #00ff00;
					-fx-control-inner-background:#000000;
					-fx-highlight-fill: #00ff00;
					-fx-highlight-text-fill: #000000;
					-fx-text-fill: #00ff00;
				}
			
			/* info end */
			
			/* ip */
				
				#ip-area{
					-fx-prompt-text-fill: #00ff00;
					-fx-control-inner-background:#000000;
					-fx-highlight-fill: #00ff00;
					-fx-highlight-text-fill: #000000;
					-fx-text-fill: #00ff00;
				}
				
			/* ip end */
		
		/* system subtabs end */
	
	/* system end */
	
	/* web */
	
		/* web subtabs */
		
				#web-subtabs > .tab-header-area > .tab-header-background {
				    -fx-background-color: linear-gradient(to bottom right, #602077, #1960a8);
				    -fx-border-color: linear-gradient(to bottom right, #2a0549, #440a75) transparent transparent transparent;
				}
				
				#web-subtabs > .tab-header-area > .headers-region > .tab {
				    -fx-background-color: linear-gradient(to bottom right, #1fc2f4, #9c5dfc);
				    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
				}
				
				#web-subtabs > .tab-header-area > .headers-region > .tab:selected {
				    -fx-background-color: linear-gradient(to bottom right, #9c5dfc, #1fc2f4);
				    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
				}
				
				#web-subtabs > .tab-header-area > .headers-region > .tab:hover {
				    -fx-background-color: linear-gradient(to bottom right, #30c9e8, #ee3dff);
				    -fx-border-color: #0b0b5b #0b0b5b transparent #0b0b5b;
				}
				
				/* Freestyle */
				
					#freestyle-web-container > .split-pane-divider{
							-fx-background-color: #dae5e5;
							-fx-border-color: #0b0b5b transparent #0b0b5b transparent;
						}
						
						#freestyle-web-command{
							-fx-prompt-text-fill: #00ff00;
							-fx-control-inner-background:#000000;
							-fx-highlight-fill: #00ff00;
							-fx-highlight-text-fill: #000000;
							-fx-text-fill: #00ff00;
						}
						
						#freestyle-web-output{
							-fx-prompt-text-fill: #00ff00;
							-fx-control-inner-background:#000000;
							-fx-highlight-fill: #00ff00;
							-fx-highlight-text-fill: #000000;
							-fx-text-fill: #00ff00;
						}
				
				/* Freestyle end */
				
				/* lookup */
					
					#lookup-input{
						-fx-prompt-text-fill: #00ff00;
						-fx-control-inner-background:#000000;
						-fx-highlight-fill: #00ff00;
						-fx-highlight-text-fill: #000000;
						-fx-text-fill: #00ff00;
					}
					
					#ip-output{
						-fx-prompt-text-fill: #00ff00;
						-fx-control-inner-background:#000000;
						-fx-highlight-fill: #00ff00;
						-fx-highlight-text-fill: #000000;
						-fx-text-fill: #00ff00;
					}
					
					#ping-output{
						-fx-prompt-text-fill: #00ff00;
						-fx-control-inner-background:#000000;
						-fx-highlight-fill: #00ff00;
						-fx-highlight-text-fill: #000000;
						-fx-text-fill: #00ff00;
					}
				
				/* lookup end */
				
				/* scrapegoat */
					
					#scrapegoat-selector-input{
						-fx-prompt-text-fill: #00ff00;
						-fx-control-inner-background:#000000;
						-fx-highlight-fill: #00ff00;
						-fx-highlight-text-fill: #000000;
						-fx-text-fill: #00ff00;
					}
					
					#scrapegoat-url-input{
						-fx-prompt-text-fill: #00ff00;
						-fx-control-inner-background:#000000;
						-fx-highlight-fill: #00ff00;
						-fx-highlight-text-fill: #000000;
						-fx-text-fill: #00ff00;
					}
					
					#scrapegoat-output{
						-fx-prompt-text-fill: #00ff00;
						-fx-control-inner-background:#000000;
						-fx-highlight-fill: #00ff00;
						-fx-highlight-text-fill: #000000;
						-fx-text-fill: #00ff00;
					}
				
				/* scrapegoat end */
		
		/* web subtabs end */
	
	/* web end */

/* console end */
